body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}

.nav {
  font-size: 18px;
  color: white;
}

.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
